.swiper-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
}

.swiper-wrapper-container{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.swiper-slide-data {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px; /* Adjust the width as per your needs */
    padding: 10px;
}
.swiper-slide-data > img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* .swiper-slide-data > img:hover{
    filter: grayscale(0%);
} */




@media only screen and (max-width: 600px) {
    .swiper-wrapper-container{
        column-gap: 10%;
    }

    .swiper-slide-data{
        width: 80%;
    }
    .swiper-slide-data > img{
        height: 80px;
    }
}

@media only screen and (min-width: 600px) {
    .swiper-slide-data{
        width: 50%;
    }
    .swiper-slide-data > img{
        height: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .swiper-slide-data{
        width: 50%;
    }
    .swiper-slide-data > img{
        height: 60px;
    }
} 

@media only screen and (min-width: 992px) {
    .swiper-wrapper-container{
        column-gap: 10%;
    }
    .swiper-slide-data{
        width: auto;
        column-gap: 10%;
    }
    .swiper-slide-data > img{
        height: 60px;
    }
} 

@media only screen and (min-width: 1200px) {
    .swiper-wrapper-container{
        column-gap: 7%;
    }
    .swiper-slide-data{
        width: auto;
    }
    .swiper-slide-data > img{
        height: 50px;
    }
}










/* salesforce page */

.services-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.service-box{
    background-color: rgba(0,0,0,0.4);
    padding: 0 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    transition: .3s;
}

.service-box:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.service-box > h4{
    text-transform: uppercase;
    color: #e7a83b;;
}


@media only screen and (max-width: 600px) {
    .services-container{
        column-gap: 0%;
        row-gap: 20px;
    }
    .service-box{
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .services-container{
        column-gap: 0%;
        row-gap: 20px;
    }
    .service-box{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .services-container{
        column-gap: 4%;
        row-gap: 25px;
    }
    .service-box{
        width: 48%;
    }
} 

@media only screen and (min-width: 992px) {
    .services-container{
        column-gap: 4%;
        row-gap: 25px;
    }
    .service-box{
        width: 48%;
    }
} 

@media only screen and (min-width: 1200px) {
    .services-container{
        column-gap: 4%;
        row-gap: 25px;
    }
    .service-box{
        width: 48%;
    }
}











/* team page */

.team-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.team-member{
    box-shadow: 5px 7px 23px 0px rgb(58 52 82 / 16%);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-sections::before{
    background: rgba(255, 255, 255, 0.92) !important;
}

.member-img>img{
    border-radius: 50%;
    box-shadow: 5px 7px 23px 0px rgb(58 52 82 / 16%);
}

.member-name{
    font-weight: 500;
    color: #3a3939;
    margin: 1em 0;
    text-align: center;
    margin-bottom: 0px;
}
.member-designation
{
    font-weight:300;
    color: #3a3939;
    margin: 1em 0;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}

.team-member > a>i{
    color: #333;
    font-size: 25px;
    margin: 0 6px;
}

@media only screen and (max-width: 600px) {
    .team-container{
        column-gap: 4%;
    }
    .team-member{
        width: 48%;
    }
    .member-img>img{
        width: 80px;
        height: 80px;
    }
    .member-name{
        font-size: 15px;
    }
}

@media only screen and (min-width: 600px) {
    .team-container{
        column-gap: 4%;
    }
    .team-member{
        width: 48%;
    }
    .member-img>img{
        width: 80px;
        height: 80px;
    }
    .member-name{
        font-size: 17px;
    }
}

@media only screen and (min-width: 768px) {
    .team-container{
        column-gap: 2%;
    }
    .team-member{
        width: 32%;
    }
    .member-img>img{
        width: 90px;
        height: 90px;
    }
    .member-name{
        font-size: 17px;
    }
} 

@media only screen and (min-width: 992px) {
    .team-container{
        column-gap: 2%;
    }
    .team-member{
        width: 32%;
    }
    .member-img>img{
        width: 90px;
        height: 90px;
    }
    .member-name{
        font-size: 18px;
    }
} 

@media only screen and (min-width: 1200px) {
    .team-container{
        column-gap: 2%;
    }
    .team-member{
        width: 32%;
    }
    .member-img>img{
        width: 90px;
        height: 90px;
    }
    .member-name{
        font-size: 18px;
    }
}

















/* career page section */


/* ---middle section---- */




.bold-para{
    font-weight: bold;
    color: #1d5ac4;
}


.para{
    color: grey;
}


.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.job-container{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
    letter-spacing: normal;
    border-radius: 10px;
}

.job-title{
    font-weight: 500;
    color: #000000;
    letter-spacing: normal;
}

.company-name{
    text-transform: uppercase;
    font-weight: 300 !important;
    color: #3a459a;
    letter-spacing: 1px ;
    margin-bottom: 15px;
}

.job-container p{
    font-size: 13px;
    color: #536777;
    line-height: 1rem;
}

.location-position{
    display: flex;
    column-gap: 20px;
}



.job-container p i{
    margin-right: 5px;
}

.location{
    color: #43494f;
}


.job-btn{
    margin-top: 15px;
    background-color: #e7a83b;
    color: #fff;
}

.job-btn:hover{
    color: #fff;
    background-color: #3a459a;
}

.dreem-job{
    color: #e7a83b;
}


@media only screen and (max-width: 600px) {
    .flex-data{
        flex-basis: 100%;
    }

    .flex-data h1{
        font-size: 20px;
    }

    .btn-class{
        margin-top: 20px;
    }


    /* ---middle section---- */

    .middle-container h1{
        font-size: 20px;
    }

    .bold-para{
        font-size: 14spx;
    }

    .para{
        font-size: 13px;
    }

    .box-container{
        column-gap: 0%;
    }

    .job-container{
        flex-basis: 100%;
        padding: 15px;
    }

    .job-title{
        font-size: 15px;
        line-height: 1.3rem;
    }

    .job-title{
        margin-bottom: 20px;
    }

    .company-name{
        font-size: 15px;
        line-height:1rem;
    }

    .job-btn{
        padding: 10px 20px;

    }
}

@media only screen and (min-width: 600px) {
    .flex-data{
        flex-basis: 100%;
    }

    .flex-data h1{
        font-size: 25px;
    }

    .btn-class{
        margin-top: 30px;
    }


    /* ---middle section---- */

    .middle-container h1{
        font-size: 25px;
    }

    .bold-para{
        font-size: 16px;
    }

    .para{
        font-size: 14px;
    }

    .box-container{
        column-gap: 0%;
    }

    .job-container{
        flex-basis: 100%;
        padding: 20px 20px;
    }

    .job-title{
        font-size: 15px;
        line-height: 1.3rem;
    }

    .job-title{
        margin-bottom: 20px;
    }

    .company-name{
        font-size: 16px;
        line-height:1rem;
    }

    .job-btn{
        padding: 10px 30px;
    }
}

@media only screen and (min-width: 768px) {
    .flex-data{
        flex-basis: 50%;
    }

    .flex-data h1{
        font-size: 25px;
    }

    .btn-class{
        margin-top: 30px;
    }


    /* ---middle section---- */

    .middle-container h1{
        font-size: 25px;
    }

    .bold-para{
        font-size: 16px;
    }

    .para{
        font-size: 14px;
    }

    .box-container{
        column-gap: 2%;
    }

    .job-container{
        flex-basis: 49%;
        padding: 20px 20px;
    }

    .job-title{
        font-size: 15px;
        line-height: 1.3rem;
    }

    .job-title{
        margin-bottom: 20px;
    }

    .company-name{
        font-size: 16px;
        line-height:1rem;
    }

    .job-btn{
        padding: 10px 30px;
    }
} 

@media only screen and (min-width: 992px) {
    .flex-data{
        flex-basis: 60%;
    }

    .flex-data h1{
        font-size: 30px;
    }

    .btn-class{
        margin-top: 30px;
    }


    /* ---middle section---- */

    .middle-container h1{
        font-size: 30px;
    }

    .bold-para{
        font-size: 16pxs;
    }

    .para{
        font-size: 14px;
    }

    .box-container{
        column-gap: 2%;
    }

    .job-container{
        flex-basis: 49%;
        padding: 20px 20px;
    }

    .job-title{
        font-size: 16px;
        line-height: 1.3rem;
    }

    .job-title{
        margin-bottom: 20px;
    }

    .company-name{
        font-size: 17px;
        line-height:1rem;
    }

    .job-btn{
        padding: 10px 3 0px;
    }
} 

@media only screen and (min-width: 1200px) {
    .flex-data{
        flex-basis: 60%;
    }

    .flex-data h1{
        font-size: 45px;
    }

    .btn-class{
        margin-top: 30px;
    }


    /* ---middle section---- */

    .middle-container h1{
        font-size: 35px;
    }

    .bold-para{
        font-size: 16pxs;
    }

    .para{
        font-size: 14px;
    }

    .box-container{
        column-gap: 2%;
    }

    .job-container{
        flex-basis: 49%;
        padding: 20px 20px;
    }

    .job-title{
        font-size: 16px;
        line-height: 1.3rem;
    }

    .job-title{
        margin-bottom: 20px;
    }

    .company-name{
        font-size: 17px;
        line-height:1rem;
    }

    .job-btn{
        padding: 10px 40px;
    }

}









/* popup box */




.collapsible {
    background-color: #3a459a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.activeList, .collapsible:hover {
    background-color: #e7a83b;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.activeList:after {
    content: "\2212";
}

.content-data {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #f1f1f1; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.content-data >p{
    padding-top: 10px;
}

.content-data > ul{
    padding: 15px;
}

.content-data > ul >li{
    list-style:disc !important;
    font-size: 14px;
}